{% extends "page/interface_base.html" %}

{% block title %}

{% endblock title %}

{% block content %}

    <h2>Giờ vào lớp: {{class.start_time}} </h2>
    <table class="Attend">
        <tr>
            <td>Order</td>
            <td>Name</td>
            <td>Student Code</td>
            {% for date in class.get_class_dates %}
                <td> {{date | date:"d/m/Y"}} </td>
            {% endfor %}
        </tr>
        {% for student in students_statuses %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{student.student.name}}</td>
                <td>{{student.student.student_id}}</td>
                {% for status in student.statuses %}
                    <td>
                        {{ status }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}