{% extends "page/interface_base.html" %}

{% block title %}
    Lecturer
{% endblock title %}

{% block information %}
    Name : {{user.name}}, Lecturer Code: {{user.teacher_id}}
{% endblock information %}

{% block content %}
    <script>
        alert("Login successfully!")
    </script>
      <h1 class="title">Lecturer</h1>
      <div class="row">
          <div class="col">
              <div class="dropdown">
                  <h4 class="dropdown-toggle" data-bs-toggle="dropdown">STUDENT</h4>
                  <ul class="dropdown-menu">
                  {% for class in classes %}
                    <li><a class="dropdown-item" href="{% url 'Class' class.id %}">{{class.class_name}}</a></li>
                  {% endfor %}
                  </ul>
              </div>
              <div class="dropdown">
                  <p class="dropdown-toggle" data-bs-toggle="dropdown">Student List</p>
                  <ul class="dropdown-menu">
                  {% for class in classes %}
                    <li><a class="dropdown-item" href="{% url 'Class' class.id %}">{{class.class_name}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <div class="dropdown">
                  <p class="dropdown-toggle" data-bs-toggle="dropdown">Attendance List</p>
                  <ul class="dropdown-menu">
                  {% for class in classes %}
                    <li><a class="dropdown-item" href="{% url 'AttendanceList' class.id %}">{{class.class_name}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
          </div>
          <div class="col ">
              <h4>BLOG</h4>
              <p>Post</p>
              <p>Delete</p>
              <p>Edit</p>
          </div>
      </div>
      <div class="row">
          <div class="col ">
              <h4>LECTURE</h4>
              <p>Edit System</p>
          </div>
          <div class="col ">
              <h4>ACCOUNT</h4>
              <a href="{% url 'home' %}"><p>Log out</p></a>
              <p>Change Password</p>
          </div>
      </div>    
{% endblock content %}
