{% extends "page/interface_base.html" %}
{% load static %}
{% block title %}
    Lecturer
{% endblock title %}

{% block information %}
    Name : {{user.name}}, Lecturer Code: {{user.teacher_id}}
{% endblock information %}

{% block sayhi %}
    <h2>Hi! LECTURER</h2>
    <p>Welcome {{user.name}}!, What do you want us to do? </p>     
    <hr>   
    <h2 class="text-center">CLASS</h2>
    {% for class in classes %}
    <a href="{% url 'Class' class.id %}">    
        <div class="class-list-item">
            <div class="icon-class"><img src="{% static 'attendance/icon1.jpg' %}" alt="" width="40px" height="40px"></div>
            <div class="link-class">{{class.class_name}}</div>
        </div>
    </a>
    {% endfor %}                
{% endblock sayhi %}

{% block func %}
    <br>
    <br>
    <br>
    <h2 class="text-center">FUNCTION</h2>
    <div class="func-table">
        <div class="func1">
            <h3>Set mark</h3>
            <hr>
            <p>You can set mark for student in class</p>
        </div>
        <div class="func2">
            <h3>Student list</h3>
            <hr>
            <p>You can see the student in class</p>
        </div>
        <div class="func3">
            <h3>Arrange</h3>
            <hr>
            <p>Arrange students by their mark</p>
        </div>
        <div class="func4">
            <h3>Attendance</h3>
            <hr>
            <p>You can see the attendance status of the class</p>
            <hr>
            {% for class in classes %}
                <a class="dropdown-item atd-list" href="{% url 'AttendanceList' class.id %}">
                    {{class.class_name}}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock func %}

{% block section2 %}
    <div class="row">
        <div class="col">
            <h2>OUR SCHOOL</h2>
            <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>                
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'attendance/sch1.jpg' %}" alt="Picture1" class="d-block" width="800px" height="400px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'attendance/sch2.jpg' %}" alt="Picture2" class="d-block" width="800px" height="400px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'attendance/sch3.jpg' %}" alt="Picture3" class="d-block" width="800px" height="400px">
                </div>
                </div>
                
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                </button>
            </div>
                    </div>
        <div class="col">
            <div class="in4">
                <h2>INFORMATION</h2>
                <div class="class-list-item">
                    <div class="icon-class"><img src="{% static 'attendance/icon2.png' %}" alt="" width="40px" height="40px"></div>
                    <div class="link-class">Name: {{user.name}}</div>
                </div>
                <div class="class-list-item">
                    <div class="icon-class"><img src="{% static 'attendance/icon3.png' %}" alt="" width="40px" height="40px"></div>
                    <div class="link-class">Lecturer Code: {{user.teacher_id}} </div>
                </div>
            </div>
        </div>
    </div>
{% endblock section2 %}

{% block section3 %}
    <div class="row">
        <div class="col-8">
            <div class="account-icon">
                <img src="{% static 'attendance/icon4.png' %}" alt="" width="300px" height="300px" class="acc-item">
                <img src="{% static 'attendance/icon5.png' %}" alt="" width="300px" height="300px" class="acc-item">
                <img src="{% static 'attendance/icon6.png' %}" alt="" width="300px" height="300px" class="acc-item">
            </div>
        </div>
        <div class="col-4 class-list acc">
            <h2>ACCOUNT</h2>
            <hr>
            <a href="{% url 'home' %}">
                <div class="class-list-item">
                    <div class="icon-class"><img src="{% static 'attendance/icon7.png' %}" alt="" width="40px" height="40px"></div>
                    <div class="link-class">Log out</div>
                </div>
            </a>
            <a href="{% url 'accountManagement' 'lecturer' user.id %}">
                <div class="class-list-item">
                    <div class="icon-class"><img src="{% static 'attendance/icon8.png' %}" alt="" width="40px" height="40px"></div>
                    <div class="link-class">Account Management</div>
                </div>
            </a>
        </div>
    </div>
{% endblock section3 %}
