{% extends "page/interface_base.html" %}

{% block title %}
    Lecturer
{% endblock title %}

{% block information %}
    Name : {{user.name}}, Lecturer Code: {{user.teacher_id}}
{% endblock information %}

{% block content %}
    <script>
        alert("Login successfully!")
    </script>
    <h1 class="title">Lecturer</h1>
    <div class="row">
        <div class="col">
            <a href=""><h4>STUDENT</h4></a>
            <p>Student List</p>
            <p>Set Mark</p>
            <p>Arrange</p>
        </div>
        <div class="col ">
            <h4>BLOG</h4>
            <p>Post</p>
            <p>Delete</p>
            <p>Edit</p>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h4>LECTURE</h4>
            <p>Edit System</p>
        </div>
        <div class="col ">
            <h4>ACCOUNT</h4>
            <p>Log out</p>
            <p>Change Password</p>
        </div>
    </div>
{% endblock content %}
